/****************************** ROOT VARIABLES ******************************/
:root {
    /****************************** Structure ******************************/
    --flow: 1rem;
    /****************************** Structure ******************************/

    /****************************** Font sizes ******************************/
    --fs-100: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --fs-200: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --fs-300: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --fs-400: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --fs-500: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --fs-600: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --fs-700: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --fs-800: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
    /****************************** Font sizes ******************************/

}
/****************************** ROOT VARIABLES ******************************/


/****************************** RESET CSS ******************************/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100svh;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    text-wrap: balance;
}

p, li, span {
    max-width: 70ch;
    line-height: 1.6;
    text-wrap: pretty;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img, video, svg, picture {
    display: block;
    max-width: 100%;
    font-style: italic;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}
/****************************** RESET CSS ******************************/


/****************************** UTILITIES ******************************/
    /****************************** Structure ******************************/
    .flow > * + * {
        margin-top: var(--flow);
    }

    .flow-sm > * + * {
        margin-top: calc(var(--flow) / 2);
    }

    .flow-lg > * + * {
        margin-top: calc(var(--flow) * 2);
    }

    .flow-xl > * + * {
        margin-top: calc(var(--flow) / 4);
    }

    .flow-xxl > * + * {
        margin-top: calc(var(--flow) / 8);
    }
    /****************************** Structure ******************************/

    /****************************** Typography ******************************/
    .text-xxl {
        font-size: var(--fs-700);
    }

    .text-xl {
        font-size: var(--fs-600);
    }

    .text-lg {
        font-size: var(--fs-500);
    }

    .text-md {
        font-size: var(--fs-400);
    }

    .text-normal {
        font-size: var(--fs-300);
    }

    .text-sm {
        font-size: var(--fs-200);
    }

    .text-xs {
        font-size: var(--fs-100);
    }

    .text-center {
        text-align: center;
        margin-inline: auto;
    }
    /****************************** Typography ******************************/


    /****************************** Buttons & Links ******************************/
    
    /****************************** Buttons & Links ******************************/

/****************************** UTILITIES ******************************/
